h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.highlight{
    color: brown;
}
.button{
    background-image: linear-gradient(red,orange);
    text-decoration:none;
    color:white;
    border-radius: 8px;
    padding: 10px 10px;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5px;
    padding-left: 15px;
    
}
.half-width img{
    width: 100%;
}
.top-side{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 30px;
}